{% load static %}
{% load crispy_forms_tags %}
{% load my_tags %}
{% load comment %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="navbar-brand" href="/user/">{% include 'logo.html' %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="/admin/">Справочники</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'products:book-list'%}">Книги</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'order:list-admin' %}">Заказы</a></li>
            </ul>

        <form class="">
                {% if user.is_authenticated %}
                {{ user.username }}
                {% endif %}
            <button class="btn btn-outline-info btn-sm" type="submit">Выйти</button>
        </form>
        </div>
    </nav>
            
    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
</body>
</html>
