{% extends "base-staff.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Админпортал
{% endblock title %}
    

{% block content %}    
<br>

    <div class="container">
        <h6 class="alert alert-info" role="alert"><i class="fas fa-puzzle-piece"></i> {{ menu.name }}</h6>
            {% if menu.items %}
                <ul class="list-group">
                    {% for item in menu.items %}
                    <li class="list-group-item"><a href="{{ item.url }}">{{ item.item }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

    
{% endblock content %}    
