{% extends "base-staff.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Админпортал
{% endblock title %}
    

{% block content %}  
<div class="container">
    <h6>Заказов всего: {{ total }} шт.</h6>
    <h1>Список заказов</h1>
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Заказ</th>
            <th scope="col">Статус</th>
            <th scope="col">Клиент</th>
            <th scope="col">Телефон</th>
            <th scope="col">email</th>
            <th scope="col">..</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
                    <tr>
                        <th scope="row">{{ object.pk }}</th>
                        <td>{{ object }}</td>
                        <td>{{ object.status.name }}</td>
                        <td>{{ object.cart.user.username }}</td>
                        <td>{{ object.phone }}</td>
                        <td>{{ object.email }}</td>
                        <td>
                            <a hreh="#" class="btn btn-danger btn-small mx-1"><i class="fas fa-trash"></i>
                            <a hreh="#" class="btn btn-success btn-small mx-1"><i class="fas fa-edit"></i>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
</div>
{% endblock %}