{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Заказ отправлен
{% endblock title %}
    
{% block content %}

<div class="container">
    <h1>{{ object }} успешно оформлен!</h1>
    <p>В ближайшее время с Вами свяжется нам менеджер для уточнения деталей!</p>
    <h2>Спасибо, что выбрали наш магазин!</h2>

</div>
{% endblock %}