{% extends "base-staff.html" %}
{% load crispy_forms_tags %}

{% load static %}

{% block head %}
{% endblock head %}

{% block title %}
Новая книга
{% endblock title %}
    
{% block body %}    
{% block content %}

    <div class="container">
        </br>
        <h4 class="alert alert-info" role="alert">{{ ref_action }}</h4>
        <p><small>Поля, отмеченные звездочкой *, обязательны для заполнения.</small></p>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info">Отправить</button>
            <a href="{% url 'products:book-list' %}"><button type="button" class="btn btn-outline-info">Назад</button></a>
        </form>
    </div>
    </br>

{% endblock content %}    
{% endblock body %}