{% extends "base-staff.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Удаление {{ object.name }}
{% endblock title %}
    
{% block body %}
    {% block content %}    

<div class="container">
    </br>
    <form action="" method="POST">
        {% csrf_token %}
        <h4 class="alert alert-info" role="alert">{{ delete }} "{{ object.name }}"?</h4>
        <input class="btn btn-outline-danger" type="submit" value="ДА">
        <a href="{% url 'products:book-list' %}"><button type="button" class="btn btn-outline-info">НЕТ</button></a>
    </form>
</div>
{% endblock content %}    

{% endblock body %}