{% extends "base-staff.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block title %}
{{ object.name }}
{% endblock title %}
    
{% block body %}
{% block content %}    

<div class="container">
    </br>
    <h4 class="alert alert-info" role="alert">{{ descr }} "{{ object.name }}"</h4>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th scope="row" class="col-sm-3">Обложка:</th>
                <td class="col-sm-9"><img src="{{ object.photo.url }}" class="img-thumbnail" alt="обложка" ></td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Цена:</th>
                <td class="col-sm-9">{{ object.cost }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Автор:</th>
                <td class="col-sm-9">{{ object.author.all|join:", " }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Серия:</th>
                <td class="col-sm-9">{{ object.series }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Жанр:</th>
                <td class="col-sm-9">{{ object.genre.all|join:", " }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Год издания:</th>
                <td class="col-sm-9">{{ object.imprintdate }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Количество страниц:</th>
                <td class="col-sm-9">{{ object.pagecount }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Переплет:</th>
                <td class="col-sm-9">{{ object.cover }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Формат:</th>
                <td class="col-sm-9">{{ object.bookformat }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">isbn:</th>
                <td class="col-sm-9">{{ object.isbn }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Вес:</th>
                <td class="col-sm-9">{{ object.weight }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Возрастные ограничения:</th>
                <td class="col-sm-9">{{ object.agelimit }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Издательство:</th>
                <td class="col-sm-9">{{ object.publisher }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Изготовитель:</th>
                <td class="col-sm-9">{{ object.maker }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Количество книг:</th>
                <td class="col-sm-9">{{ object.bookquantity }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Активный (доступен для заказа):</th>
                <td class="col-sm-9">{{ object.active }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Товар на акции:</th>
                <td class="col-sm-9">{{ object.promotion }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Рейтинг:</th>
                <td class="col-sm-9">{{ object.ratio }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Дата внесения в каталог:</th>
                <td class="col-sm-9">{{ object.dateadd }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-sm-3">Дата последнего изменения карточки:</th>
                <td class="col-sm-9">{{ object.dateuppdate }}</td>
            </tr>
        </tbody>
    </table>        
    </br>
    <a href="{% url 'products:book-list' %}"><button type="button" class="btn btn-outline-info">Назад</button></a>
    </br>
    </br>
</div>
{% endblock content %}    

{% endblock body %}