{% extends "base-staff.html" %}
{% load static %}

{% block head %}
{% endblock head %}

{% block title %}
Список книг
{% endblock title %}
    

{% block content %}    

<div class="container">
    </br>
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h4 class="alert alert-warning" role="alert">Статистика по разделу </h4>
            <p>Общее количество книг: {{ count_books }}</p>
            <p>Количество активных (доступных для заказа) книг: {{ active_books }}.</p>
            <p>Количество добавленных книг за прошлый день: {{ add_books }}.</p>
            <p>Количество добавленных книг за прошлый месяц: {{ add_books_month }}.</p>
        </div>
    </div>
    </br>
    <h4 class="alert alert-info" role="alert">{{ descr }}</h4>
    <table class="table table-borderless">
        {% for object in object_list %}
            <tr>
                <td>{{ object.name }}</td>
                <td><a href="{% url 'products:book-detail' object.pk %}"><button type="button" class="btn btn-light">Просмотр</button></a></td>
                <td><a href="{% url 'products:book-update' object.pk %}"><button type="button" class="btn btn-light">Редактирование</button></a></td>
                <td><a href="{% url 'products:book-delete' object.pk %}"><button type="button" class="btn btn-outline-dark">Удаление</button></a></td>
            </tr>
        {% endfor %}
        <tr><td><a href="{% url 'products:book-create' %}"><button type="button" class="btn btn-outline-info">Добавить новую книгу</button></a></td></tr>
    </table>
    
    {% include 'pagination.html' %}

    <!-- 
    {{ is_paginated }}
    {{ paginator.page_range }}
    {{ paginator.num_pages }}
    {{ page_obj.has_next }}
-->
<!--{% if is_paginated %}
        <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                        {% if page_obj.has_previous %}
                  <li class="page-item">
                        <a class="page-link" href="{% url 'products:book-list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                  </li>
                  {% else %}
                  <li class="page-item">

                      </li>
                  {% endif %}

{% for page in paginator.page_range %}
{% if page == page_obj.number %}
                  <li class="page-item active"><a class="page-link" href="{% url 'products:book-list' %}?page={{ page }}">{{ page }}</a></li>
{% else %}
<li class="page-item"><a class="page-link" href="{% url 'products:book-list' %}?page={{ page }}">{{ page }}</a></li>



{% endif %}
{% endfor %}




                  {% if page_obj.has_next %}
                  <li class="page-item">
                        <a class="page-link" href="{% url 'products:book-list' %}?page={{ page_obj.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                  </li>
                  {% else %}
                  <li class="page-item">

                    </li>
                    {% endif %}
                </ul>
              </nav>

{% endif %}

-->
</div>

{% endblock content %}    
