{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Вход
{% endblock title %}
    
{% block content %}


<div class="container">
<form  method="POST" action="{% url 'core:login' %}">
    <br>
    {% csrf_token %}

    {{ form.username.label_tag }}
    {{ form.username }}

    {{ form.password.label_tag }}
    {{ form.password }}

    <input type="submit" class="btn btn-outline-info" value="Вход" >
        
</form>
</div>


{% endblock content %}