{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Вход
{% endblock title %}
    
{% block content %}


<div class="container">
<form  method="POST" action="{% url 'core:logout' %}">
    
    {% csrf_token %}

    
    {{ form.username }}


    <input type="submit" class="btn btn-outline-info" value="Выход" >
        
</form>
</div>


{% endblock content %}