.image { 
    position: relative; 
    width: 100%; 

 }

.image2 {
   position: absolute; 
   top: 10px;
   left: 740px;
   opacity: .1;  
   background: rgb(100, 100, 100); /* fallback color */
   background: rgba(0, 0, 0, 0.7)
}
#len { 

    color: white;
    font: normal 70px Helvetica, Sans-Serif; 

;


}