{% extends "base-staff.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
{{ ref_action }}
{% endblock title %}
    
{% block body %}
{% block content %}    

    <div class="container">
        <h2>{{ ref_action }}</h2>
        <p><small>Поля, отмеченные звездочкой *, обязательны для заполнения.</small></p>
        <form action="" method="POST" >
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-info">Сохранить</button>
            {% if object.pk > 0 %}
                <a href="{{ object.get_list_url }}" class="btn btn-outline-info">Назад</a>
            {% else %}
                <a href="{{ back_to_list }}" class="btn btn-outline-info">Назад</a>
            {% endif %}
        </form>
    </div>
    
{% endblock content %}    
{% endblock body %}
