{% extends "base-staff.html" %}
{% load static %}
{% block head %}
{% endblock head %}

{% block title %}
Удаление {{ object.name }}
{% endblock title %}
    
{% block body %}
{% block content %}  

    <div class="container">
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            <h4 class="alert alert-info" >{{ delete }} {{ object.name }}?</h4>
            <p>* безвозвратное удаление из базы данных</p>
            <input class="btn btn-outline-danger" type="submit" value="ДА">
            <a href="{{ object.get_list_url }}" class="btn btn-outline-info">НЕТ</a>
        </form>
        </br>
    </div>
    
{% endblock content %}    
{% endblock body %}