{% extends "base-staff.html" %}
{% load static %}
{% load comment %}

{% block head %}
{% endblock head %}

{% block title %}
Данные о {{ object.name }}
{% endblock title %}
    
{% block body %}
{% block content %}    

    <div class="container">
        <br>
        <h4 class="alert alert-info" role="alert">{{ descr }} "{{ object.name }}"</h4>
        {% if object.description == null %}
            <p>Описания нет.</p>
        {% else %}
            <p>Описание: {{ object.description }}</p>
        {% endif %}
        </br>
        <a href="{{ object.get_update_url }}" class="btn btn-outline-info">Редактировать</a>
        <a href="{{ object.get_list_url }}" class="btn btn-outline-info">Назад</a>
    </div>
    


{% comment object request.get_full_path %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<<<<<<< HEAD

    
=======
{{ comments }}
>>>>>>> homework
{% endblock content %}    
{% endblock body %}
     