{% extends "base-staff.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
{{ descr }}
{% endblock title %}

{% block content %}    
    <div class="container">
        </br>
        <h2>{{ descr }}</h2>
        <a href="{{ add_new }}" class="btn btn-outline-info">Создать</a>
        <br>
        <br>
        <table class="table table-striped">
            {% for object in object_list %}
            <tr>
                <th scope="row">{{ object }} <ion-icon src="/static/_ionicons_svg_md-paw.svg"></ion-icon></th>
                <td><a href="{{ object.get_view_url }}" class="btn btn-outline-info">Посмотр</a></td>
                <td><a href="{{ object.get_update_url }}" class="btn btn-outline-info">Редактирование</a></td>
                <td><a href="{{ object.get_delete_url }}" class="btn btn-outline-danger">Удаление</a></td>
            </tr>
            {% endfor %}
        </table>
        <br>

        {{ page_obj.number }}

        {{ page_obj.paginator.num_pages }}

        {% include 'pagination.html' %}

        <br>
    </div>


{% endblock content %}    
