<div class="container">

<form method="POST" action="{% url 'comments:add-comment' %}">
    {% csrf_token %}
    <div class="form-group">
        <br>
        <label for="comment">Добавить комментарий</label>
        <input type="text" name="comment"  class="form-control form-control-sm-2" id="comment">
        <input type="hidden" name="ct_id" class="form-control" id="ct" value="{{ ct }}">
        <input type="hidden" name="obj_id" class="form-control" id="obj_id" value="{{ obj_id }}">
        <input type="hidden" name="next" class="form-control" id="next" value="{{ next }}">
    </div>
    <button type="submit" class="btn btn-outline-info">Добавить</button>
    <br>
    {% for comment in comments %}

    {% endfor %}
</form>
</div>



