{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
BookShop 
{% endblock title %}
   

{% block content %}
    
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">BOOKShop рад видеть Вас!</h1>
    <p class="lead">Компания BOOKShop является одиним из крупнейших белорусских книжных интернет-магазинов. 
            Наша задача — предложить клиенту идеальный сервис и максимальный выбор: товаров, способов оплаты, вариантов доставки.
            Сегодня ассортимент книг насчитывает более 190 позиций. Появившись около 2 месяцев назад, BOOKShop стал одним из первых белорусских интернет-магазинов и первым книжным интернет-магазином.</p>
    <p class="lead">Юридический адрес: 220001, г. Минск, пр-т Независимости, д. 1.</p>
    <p class="lead">Электронный адрес: chytach@bookshop.by</p>
  </div>
</div>
        
{% endblock content %}
