{% load static %}
{% load crispy_forms_tags %}
{% load my_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <title>
        {% block title %}
        {% endblock %}
    </title>

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="navbar-brand" href="/user/">{% include 'logo.html' %}</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'products:book-list'%}">Книги</a></li>
                <li class="nav-item active"><a class="nav-link" href="/user/">Акции</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'core:delivery' %}">Доставка</a></li>
                <li class="nav-item active"><a class="nav-link" href="{% url 'core:about' %}">О компании</a></li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% top_cart_icon %}
            </form>

            {% if user.is_authenticated %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'core:view_profile' %}"><i class="far fa-address-card"></i> {{ user.username }} </a>
            <a class="btn btn-outline-info btn-sm" href="{% url 'core:logout' %}">Выход</a>
            {% else %}
            <a class="btn btn-outline-info btn-sm" href="{% url 'core:login' %}">Вход</a>
            {% endif %}

        </div>
    </nav>

    {% block contentmain %}
    {% endblock %}

    <div class="container">
        <br>
    <form method="GET" action="{% url 'search:search-results' %}" class="form-inline my-2 my-lg-0">
        <input type="text" name="q" class="form-control form-control-sm-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
    </form>
    <br>
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
</body>
</html>


