{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
BookShop доставка 
{% endblock title %}
    
{% block content %}
    
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Виды доставки</h1>
        <p class="lead">Курьером по Минску (бесплатно от 30 руб.) Доставка курьером по Минску осуществляется в пределах МКАД.
Вы выбираете удобное время доставки из возможных вариантов — и мы доставим заказ в течение 3 указанных часов. 
Бесплатная доставка при стоимости товаров в заказе от 30,00 руб. Стоимость 5,00 руб.</p>
        <p class="lead">Самовывоз с г. Минск, пр-т Независимости, д. 1.</p>    
        <p class="lead">Почтой по Беларуси (14 — 21 день). Заказ высылается почтой по территории Беларуси на Ваш адрес после того, 
как мы получим подтверждение его оплаты. В населенных пунктах, где нет доставки курьером и пунктов самовывоза, 
возможен наложенный платеж (оплата по факту получения товара). Стоимость согласно тарифов РУП БелПочта для юридических лиц.</p>
    </div>
</div>
        
{% endblock content %}

