{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Вход
{% endblock title %}
    
{% block content %}


<div class="container">
<br>
   <h4 class="alert alert-info" role="alert">{{ user.username }}</h4>
   
   <table class="table table-striped">
      <tbody>
          <tr>
              <th scope="row" class="col-sm-3">Телефон:</th>
              <td class="col-sm-9">{{ user.userphone }}</td>
          </tr>
          <tr>
            <th scope="row" class="col-sm-3">Электронная почта:</th>
            <td class="col-sm-9">{{ user.email }}</td>
          </tr>
          <tr>
            <th scope="row" class="col-sm-3">Адрес:</th>
            <td class="col-sm-9">{{ user.useraddress }}</td>
          </tr>
          <tr>
            <th scope="row" class="col-sm-3">Дата регистрации:</th>
            <td class="col-sm-9">{{ user.date_joined }}</td>
          </tr>
          <tr>
            <th scope="row" class="col-sm-3">Последний вход:</th>
            <td class="col-sm-9">{{ user.last_login }}</td>
          </tr>
      </tbody>
  </table>        

</div>
{% endblock content %}