<a class="nav-link" href="{% url 'cart:bookcart' %}">
    {% if products > 0 %}
    <span class="btn btn-outline-danger btn-sm" >Корзина ({{ products }})</span> 
{% else %}
    <span class="btn btn-outline-info btn-sm">Корзина ({{ products }})</span> 
{% endif %}
