{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
BookShop 
{% endblock title %}
    
{% block contentmain %}
<div class="jumbotron jumbotron-fluid" >
    <div class="container">
        <h1 class="display-4">BOOKShop рад видеть Вас!</h1>
        <p class="lead">{% if user.is_authenticated %}
        {{ user.username }}{% endif %}, в разделе <a href="{% url 'products:book-list'%}">Книги</a> Вы найдете все, что Вас интересует.</p>
    </div>
</div>
{% endblock contentmain %}
{% block content %}
<div class="container">
    <div class="card-group">      
        {% for book in last_book %}
            <div class="card" >
                <img class="card-img-top" src="{{ book.photo.url }}"  height="280" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ book.name }}</h5>
                    <p class="card-text">Цена: {{ book.cost }}</p>
                    <a href="{% url 'cart:add' book.pk %}" class="btn btn-warning btn-sm">Купить</a>
                    <a href="{% url 'products:book-detail' book.pk %}" class="btn btn-info btn-sm">Просмотр</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}