{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
BookShop доставка 
{% endblock title %}
    
{% block content %}

<div class="container">

    <form method="GET" action="{% url 'search:search-results' %}">
        <input type="text" name="q">
        <button type="submit">искать</button>
    </form>

</div>

{% endblock content %}