{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
BookShop доставка 
{% endblock title %}
    
{% block content %}

<div class="container">
    </br>
    <h4 class="alert alert-info" role="alert">Результаты поиска:</h4>
    {% if results %}
    <p>По запросу "{{ key }}" найдено {{ results|length }} позиций.</p>
        {% for result in results %}
            <p>
                <a href="{% url 'products:book-detail' result.pk %}">{{ result }}</a>
                (автоp: {{ result.author.all|join:", " }})
            </p>
        {% endfor %}

    {% else %}
        <p>Не найдено товаров по вашему запросу.</p>
    {% endif %}
</div>

{% endblock content %}