{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Добавить в корзину
{% endblock title %}
    
{% block content %}


<div class="container">
    <br>
    <h4 class="alert alert-info" role="alert">Товар в корзине:</h4>

    <h1>"{{ object.book.name }}" {{ object.book.author.all|join:", "}}</h1> 
    <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-outline-info">Отправить</button> 
        <a href="/user/"><button type="button" class="btn btn-outline-info">Отмена</button></a>
    </form>
</div>

{% endblock content %}