{% extends "base-core.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{% endblock head %}

{% block title %}
Корзина 
{% endblock title %}
    
{% block content %}

<div class="container">
    <br>
        <h4 class="alert alert-info" role="alert">Корзина № {{ cart.pk }} </h4>
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Книга</th>
                <th scope="col">Кол-во</th>
                <th scope="col">Цена</th>
                <th scope="col">..</th>
                </tr>
            </thead>
            <tbody>
        {% for object in object.products_in_cart.all %}
                <tr>
                <th scope="row">{{ object.book.pk }}</th>
                <td>{{ object.book.name }} </td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.book.cost }}</td>
                <td>
                    <a href="{% url 'products:book-detail' object.book.pk %}"><button type="button" class="btn btn-info btn-sm">Просмотр</button></a>
                    <a href="{% url 'cart:add' object.book.pk %}"><button type="button" class="btn btn-info btn-sm">Ред-ть</button></a>
                    <a href="{% url 'cart:delete' object.pk %}"><button type="button" class="btn btn-info btn-sm">Удалить</button></a>
                </td>
                </tr>
        {% endfor %}

            </tbody>
            </table>
            {% if object.products_in_cart_count > 0 %}
            <div class="card bg-light border-primary mb-3">
                <h5 class="card-header border-primary">Оформить заказ</h5>
                    <form action="{% url 'order:check-out' %}" method="POST" class="card-body">
                        {% csrf_token %}
                        <h5 class="card-title">* - обязательны для заполнения</h5>
                        <p class="card-text">{{ form|crispy }}</p>
                        <button class="btn btn-danger btn-block" type="submit">Оформить заказ</button>
                    </form>
            </div>
            {% endif %}
</div>

{% endblock content %}